<% provide(:title, "About") %>
<div class="center">
  <h1>About</h1>
  <p>
  This Pokedex app will help you look up information about Pokemon,
  keep track of your collection, and organize your teams for battle!
  </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>