<% provide(:title, "Contact") %>
<div class="center">
  <h1>Contact</h1>
  <p>
    I'm on Twitter <mark><a href="https://twitter.com/jamesdoescode" target="_blank">@jamesdoescode</a></mark> or jamesyp at gmail dot com
  </p>
</div>