<% provide(:title, "Welcome") %>
<div class="center jumbotron">
  <h1>Pokedex & Team Builder</h1>
  <p>Catch 'em all and be the very best!</p>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>