<footer class="footer">
  <small>
    Pokemon copyright <a href="http://www.pokemon.com">The Pokemon Company International</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>